#{extends 'main.html' /}
#{set title:'Register' /}


<div id="register">
	
	<h1>Register</h1>
	#{if flash.error}
		<div class="alert-message error">
			<a class="close" href="#">&times;</a> 
			<p>
				<strong>Aaahh shieeet!</strong> 
				&{flash.error}
			</p>
		</div>
	#{/if}
	#{form @add()}
		<fieldset>
		<legend>Register</legend>
			<div class="clearfix">
				<label for="fullname">Full name</label>
				<div class="input">
					<input type="text" name="fullname" id="fullname" value="${flash.fullname}" />
				</div>
			</div>
			
			<div class="clearfix">
				<label for="email">E-mail address</label>
				<div class="input">
					<input type="text" name="email" id="email" value="${flash.email}" />
				</div>
			</div>
			
			<div class="clearfix">
				<label for="username">Desired username</label>
				<div class="input">
					<input type="text" name="username" id="username" value="${flash.username}" />
				</div>
			</div>
			<div class="clearfix">
				<label for="password">Password</label>
				<div class="input">
					<input type="password" name="password" id="password" value="" />
				</div>
			</div>
			 <div class="actions"> 
				<input type="submit" class="btn primary" id="register" value="Register" />
				&nbsp;<button type="reset" class="btn">Cancel</button> 
			</div>
			
		</fieldset>
	#{/form}
</div>