*{ Just a simple tag for Payments/show to avoid duplication, tag usage is bloated and ugly imo :( }*

<div class="payments">
    <h3>${_heading}</h3>
    #{list items:_debt.keySet(), as:'user'}
    	%{
    		owes = _debt.get(user);
    		fresh = _freshDebt.get(user);
    		receipts = _freshReceipts.get(user);
    		
    		if(!_positive) {
    			owes = -owes
    			fresh = fresh == null ? owes : -fresh
    		}
    	}%
    	#{if owes > 0}
			${user}: ${owes} 
			#{if receipts != null}
				(
				#{if fresh != null && owes != fresh}
					${fresh} from:
				#{/if}
				#{list items:receipts, as:'receipt'}
					<a href="@{Receipts.show(receipt.id)}">${receipt.title}</a> 
				#{/list}
				)
			#{/if}
			<br>
		#{/if}
	#{/list}
</div>