*{ Just a simple tag for Payments/show to avoid duplication, tag usage is bloated and ugly imo :( }*
*{ Takes payments, action:'pay'/'accept'/'none', outgoing:true/false}*

<ul>
#{if !_payments}
YAY nothing here!
#{/if}
#{list items:_payments, as:'payment'}
    <li>
    #{if payment.paid && _showDate}
    	${payment.paid.format('yyyy-MM-dd')}<br>
    #{/if}
    %{
    	if(_outgoing) user = payment.receiver
    	else user = payment.payer
    }%
	${user.fullname} (${user.username}): ${payment.amount} SEK 
	#{if payment.identifier}
		- <strong>${payment.identifier}</strong> 
	#{/if}
	#{if payment.receipts}
		<ul>
		#{list items:payment.receipts, as:'receipt'}
			<li>
			<a href="@{Receipts.show(receipt.id)}">${receipt.title}</a>
			#{if receipt.owner.equals(payment.payer)}
				&#40;-${receipt.getTotal(payment.receiver)}&#41;
			#{/if}
			#{else}
				&#40;${receipt.getTotal(payment.payer)}&#41;
			#{/else}
			</li>
		#{/list}
		#{if payment.unsourced}
			<li>Unsourced (${payment.unsourced})</li>
		#{/if}
		</ul>
		#{if _action == 'pay'}
			#{form @Payments.add()}
				<input type="hidden" name="senderId" value="${payment.payer.id}"/>
				<input type="hidden" name="receiverId" value="${payment.receiver.id}"/>
				<input type="hidden" name="identifier" value="${payment.identifier}"/>
				<input type="hidden" name="amount" value="${payment.amount}"/>
				<input type="hidden" name="unsourced" value="${payment.unsourced}"/>
				#{list items:payment.receipts, as:'receipt'}
					<input type="hidden" name="receiptId" value="${receipt.id}"/>
				#{/list}
				<input type="submit" class="btn error small" value="Send"/>
			#{/form}
		#{/if}
		#{if _action == 'accept'}
			#{form @Payments.accept()}
				<input type="hidden" name="paymentId" value="${payment.id}"/>
				<input type="submit" class="btn error small" value="Accept"/>
			#{/form}
		#{/if}
	#{/if}
	</li>
#{/list}
</ul>