*{ Display a receipt in one of several modes: 'teaser' or 'full' }*

<div class="receipt ${_as == 'teaser' ? 'teaser' : ''}">
	<h2 class="receipt title">
		<a href="@{Receipts.show(_receipt.id)}">${_receipt.title}</a>
	</h2>
	<div class="details">
		&{'views.tags.displayReceipt.receiptOwner', _receipt.creator.fullname},
		<span class="receipt-created">${_receipt.created.format('yyyy-MM-dd')}</span>
	</div>
	#{if _as != 'teaser'}
		<div class="receipt-content">
			<div class="about">&{'Details'}:</div>
			${_receipt.description.nl2br()}
		</div>
	#{/if}
</div>

#{if _as == 'full'}
	<div class="payers">
		<h3>
			${_receipt.members.size() ?: 'no'} 
	        ${_receipt.members.size().pluralize(messages.get('payer'), messages.get('payers'))}
		</h3>
	    #{list items:_receipt.owners, as:'ownerInfo'}
            <li class="member">
                ${ownerInfo.owner.fullname} (${ownerInfo.amount.format('0.00')} SEK)
            </li>
	    #{/list}
	</div>

	<div class="members">
		<h3>
			${_receipt.members.size() ?: 'no'} 
	        ${_receipt.members.size().pluralize(messages.get('member'), messages.get('members'))}
		</h3>
	    #{list items:_receipt.members, as:'member'}
            <li class="member">
                ${member.fullname} (${_receipt.getTotal(member).format('0.00')} SEK)
            </li>
	    #{/list}
	</div>
	
	<div class="rounds">
		<h3>&{'Receipt'}</h3>
		<table class="receipt" cellspacing="0">
			<tr>
				<th>&{'Item'}</th><th>&{'Total'}</th><th>&{'Users'}</th>
			</tr>
			#{list items:_receipt.subpots, as:'round'}
				<tr>
					<td>${round.description}</td>
					<td>${round.total.format('0.00')} SEK</td>
					<td>
						#{list items:round.members, as:'user'}
							${user.fullname}
							<br/>
						#{/list}
					</td>
				</tr>
			#{/list}
		</table>
		<span class="total">&{'Total'}: ${_receipt.total.format('0.00')} SEK</span>
		<div class="tip">&{'Tip'}: ${_receipt.tip.format('0.00')} SEK</div>
	</div>
		
	<div id="comments" class="comments">
	    <h3>
	        &{'Comments'}:
	    </h3>

	</div>
	<br/>
	<form class="form-stacked">
		<fieldset>
			<legend>&{'newComment'}</legend> 
			<div class="clearfix"> 
				<div class="input">
					<textarea id="comment-value" class="newComment"></textarea>
				</div>
			</div>
			<div class="actions">
				<input class="btn primary" type="submit" id="postComment" value="&{'Post'}" onsubmit="return false;"/>
				&nbsp;<button type="reset" class="btn">&{'Cancel'}</button> 
			</div>
		</fieldset>
	</form>
#{/if}



<script type="text/javascript" charset="utf-8">
var lastTimestamp = 0
var virgin = true;

$(document).ready(function() {
	getPosts();
	setInterval(getPosts, 2000);
});

function getPosts() {
	$.get('@{Comments.get()}', {id: ${_receipt.id}, lastPost: lastTimestamp}, renderPosts, 'json');
	
}

$('#postComment').click(function() {
	$.post('@{Comments.post()}', {id: ${_receipt.id}, content: $('#comment-value').val(), lastPost: lastTimestamp}, renderPosts, 'json');
	return false;
})

function renderPosts(comments) {
	lastTimestamp = attachPosts(comments, buildHtml, '#comments', lastTimestamp, virgin === true);
	virgin = false;
}

function buildHtml(comment) {
	return '<div class="comment round gradient' + (comment.own === true ? ' own' : '') + '"><div class="comment-metadata' + (comment.own === true ? '-own' : '') + '"><span class="comment-poster">'
			+ comment.poster + '</span> &{'views.tags.displayReceipt.says'}...</div><div class="comment-content">' + comment.content +
			'</div><span class="comment-date">&{'views.tags.displayReceipt.posted'} ' + comment.date +
			' &{'views.tags.displayReceipt.from', 'web'}</span></div>';
}

</script>
