*{ Display a receipt in one of several modes: 'teaser' or 'full' }*

<div class="receipt ${_as == 'teaser' ? 'teaser' : ''}">
	<h2 class="receipt title">
		<a href="@{Application.receipt(_receipt.id)}">${_receipt.title}</a>
	</h2>
	<div class="details">
		<span class="receipt-owner">by ${_receipt.owner.fullname}</span>,
		<span class="receipt-created">${_receipt.created.format('yyyy-MM-dd')}</span>
	</div>
	#{if _as != 'teaser'}
		<div class="receipt-content">
			<div class="about">Details:</div>
			${_receipt.description.nl2br()}
		</div>
	#{/if}
</div>

#{if _as == 'full'}
	<div class="members">
		<h3>
			${_receipt.members.size() ?: 'no'} 
	        member${_receipt.members.size().pluralize()}
		</h3>
	    #{list items:_receipt.members, as:'member'}
                <span class="member">
                    ${member.fullname}
                </span>
	    #{/list}
	</div>
	
	<div class="rounds">
		<h3>Receipt</h3>
		<table border="1">
			<tr>
				<th>Item</th><th>Special cases</th>
			</tr>
			#{list items:_receipt.subpots, as:'round'}
				<tr>
					<td>${round.description}</td>
					<td>
						#{list items:round.cases, as:'special'}
							${special.user.fullname}: ${special.amount} SEK
							<br/>
						#{/list}
						Rest: ${round.restAmount} SEK
					</td>
				</tr>
			#{/list}
		</table>
		<span class="total">Total: ${_receipt.total} SEK</span>
	</div>
		
	<div class="comments">
	    <h3>
	        ${_receipt.comments.size() ?: 'no'} 
	        comment${_receipt.comments.size().pluralize()}
	    </h3>
	    
	    #{list items:_receipt.comments, as:'comment'}
	        <div class="comment">
	            <div class="comment-metadata">
	                <span class="comment-poster">by ${comment.poster.fullname},</span>
	                <span class="comment-date">
	                    ${comment.date.format('yyyy-MM-dd')}
	                </span>
	            </div>
	            <div class="comment-content">
	                ${comment.content.escape().nl2br()}
	            </div>
	        </div>
	    #{/list}
	</div>
#{/if}
