<!DOCTYPE html>

<html>
    <head>
        <title>&{'views.errors.500.Title'}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>	
    </head>
    <body>
        #{if play.mode.name() == 'DEV'}
            #{500 exception /}
        #{/if}
        #{else}
            <h1>&{'views.errors.500.message'}</h1>
            #{if exception instanceof play.exceptions.PlayException}
                <p>
                	&{'views.errors.500.logged', exception.id}
                </p>
            #{/if}
        #{/else}
    </body>
</html>
