#{extends 'main.html' /}
#{set 'title'}
	&{'views.Payments.show.Title'}
#{/set}
#{set 'moreScripts'}
	#{script 'jquery.tablesorter.min.js' /}
#{/set}

<script >
  $(function() {
    $("table#sortTableExample").tablesorter({ sortList: [[1,1]] });
  });
</script>

#{if flash.error}
	<div class="alert-message error">
		<a class="close" href="#">&times;</a> 
		<p>
			<strong>&{'error'}</strong> 
			&{flash.error}
		</p>
	</div>
#{/if}

<div class="row">
    <div class="span8 columns">
	    <div class="alert-message block-message #{if liabilities}error#{/if}">
	    	<div>
			    <h2>&{'views.Payments.show.liabilities'}</h2>
			    #{displayPayment payments:liabilities, action:'pay', outgoing:true, showDate:false /}
			</div>

		</div>
    </div><!-- /col -->
    <div class="span8 columns">
	    <div class="alert-message block-message #{if securities}error#{/if}">
	    	<div>
			    <h2>&{'views.Payments.show.securities'}</h2>
			    #{displayPayment payments:securities, action:'none', outgoing:false, showDate:false /}
			</div>
		</div>
    </div><!-- /col -->
</div>  
<div class="row">
    <div class="span8 columns">
	    <div class="alert-message block-message #{if pending}warning#{/if}">
			<div>
				<h3>&{'views.Payments.show.pending'}</h3>
				#{displayPayment payments:pending, action:'none', outgoing:true, showDate:true /}
			</div>
		</div>
    </div><!-- /col -->
    <div class="span8 columns">
	    <div class="alert-message block-message #{if accept}error#{/if}">		
			<div>
				<h3>&{'views.Payments.show.accept'}</h3>
				#{displayPayment payments:accept, action:'accept', outgoing:false, showDate:true /}
			</div>
		</div>
    </div><!-- /col -->
</div> 

<h3>&{'views.Payments.show.Settled'}</h3>
<table class="zebra-striped" id="sortTableExample">
    <thead>
      <tr>
        <th class="header">&{'views.Payments.show.Paid'}</th>
        <th class="header">&{'views.Payments.show.Accepted'}</th>
        <th class="header">&{'views.Payments.show.From'}</th>
        <th class="header">&{'views.Payments.show.To'}</th>
        <th class="header">&{'views.Payments.show.Amount'}</th>
        <th class="header">&{'views.Payments.show.Id'}</th>
        <th class="header">&{'views.Payments.show.Receipts'}</th>
      </tr>
    </thead>
    <tbody>
	#{list items:settled, as:'payment'}
		%{
			if(payment.getAmount() < 0.01) color = "blue"
	    	else if(user == payment.payer) color = "red"
	    	else color = "green"
	    }%
	    <tr>
	        <td class="${color}">${payment.paid.format('yyyy-MM-dd')}</td>
	        <td class="${color}">${payment.accepted.format('yyyy-MM-dd')}</td>
	        <td class="${color}">${payment.payer}</td>
	        <td class="${color}">${payment.receiver}</td>
	        <td class="${color}">${payment.amount.format('0.00')}</td>
	        <td class="${color}">${payment.identifier}</td>
	        <td class="${color}">
	        <li class="dropdown" data-dropdown="dropdown" style="list-style:none">
	          <a href="#" class="dropdown-toggle">${payment.receipts.size()} Receipts</a>
	          <ul class="dropdown-menu">
	          	#{list items:payment.receipts, as:'receipt'}
		            <li><a href="@{Receipts.show(receipt.id)}">
		            	${receipt.title}
		            </a></li>
	            #{/list}
	          </ul>
	        </li>
	        </td>
	     </tr>
     #{/list}
     </tbody>
  </table>