#{extends 'main.html' /}
#{set title:'Payments' /}

#{if debt.size()}
    #{displayPayment heading:'Payments', positive:true, debt:debt, freshDebt:freshDebt, freshReceipts:freshReceipts /}
    #{displayPayment heading:'Debts', positive:false, debt:debt, freshDebt:freshDebt, freshReceipts:freshReceipts /}
#{/if}

<div class="payments">
	<h3>Incomming payments</h3>
	TODO
</div>

<div class="payments">
	<h3>Outgoing payments</h3>
	TODO
</div>

<div class="payments">
	<h3>Historic payments</h3>
	TODO
</div>
	
<a href="@{Secure.logout()}">Log out</a>
