#{extends 'main.html' /}
#{set title:'Payments' /}

#{if debt.size()}
    <div class="payments">
        <h3>Due payments</h3>
        #{list items:debt.keySet(), as:'user'}
        	%{
        		owes = debt.get(user);
        		fresh = freshDebt.get(user);
        		receipts = freshReceipts.get(user);
        	}%
        	#{if owes > 0}
   				${user} --- ${owes}
   				#{if receipts = 
   				
   			#{/if}
   				
   			
   			<br>
		#{/list}
    </div>
    <div class="payments">
        <h3>Debts</h3>
        #{list items:debt.keySet(), as:'user'}
        	%{owes = debt.get(user)}%
        	#{if owes < 0}
   				${user} --- ${owes} <br>
   			#{/if}
		#{/list}
    </div>
#{/if}

<div class="payments">
	<h3>Incomming payments</h3>
	TODO
</div>

<div class="payments">
	<h3>Outgoing payments</h3>
	TODO
</div>

<div class="payments">
	<h3>Historic payments</h3>
	TODO
</div>
	
<a href="@{Secure.logout()}">Log out</a>
