#{extends 'main.html' /}
#{set 'title'}
	&{'Home'}
#{/set}

&{'views.Application.index.loggedinMsg'}: ${user.username}
#{if receipts.size()}
    <div class="receipts">
       	<h3>&{'Receipts'}</h3>
        #{list items:receipts, as:'receipt'}
            #{displayReceipt receipt:receipt, as:'teaser' /}
        #{/list}
    </div>
#{/if}
#{else}
    <div class="empty">
        &{'emptyMsg'}
	</div>
#{/else}<br/>


   #{if receiptHidden > 0}
   	<a href="@{index(true)}">View all receipts</a><br/><br/>
   #{/if}

<a href="@{Receipts.register()}">&{'views.Application.index.newReceipt'}</a><br/><br/>
