<!DOCTYPE html>

<html>
<head>
<title>#{get 'title' /}</title>
<meta charset="${_response_encoding}">
#{stylesheet 'main.css' /}
#{stylesheet 'ui-darkness/jquery-ui-1.8.16.custom.css' /}
#{stylesheet 'tipsy.css' /}
#{get 'moreStyles' /}
<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
#{script 'jquery-1.6.2.min.js' /}
#{script 'application.js' /}
#{script 'live.js' /}
#{script 'jquery-ui-1.8.16.custom.min.js' /}
#{script 'jquery.tipsy.js' /}
#{get 'moreScripts' /}
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css">
</head>
<body style="padding-top: 50px;">
	<div class="topbar-wrapper" style="z-index: 5;">
		<div class="topbar">
			<div class="topbar-inner">
				<div class="container">
					<h3>
						<a href="@{Application.index()}">&{'views.main.madoff'}</a>
					</h3>
					<ul class="nav">
						<li #{if request.action == "Application.index"} class="active" #{/if}><a href="@{Application.index()}">&{'Receipts'}</a></li>
						<li #{if request.action == "Payments.show"} class="active" #{/if}><a href="@{Payments.index()}">&{'Payments'}</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle">Dropdown</a>
							<ul class="dropdown-menu">
								<li><a href="#">Secondary link</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#">Another link</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav secondary-nav">
						<form action="">
							<input type="text" placeholder="&{'Search'}"} />
						</form>
						<li class="dropdown"><a href="#" class="dropdown-toggle">&{'Language'}</a>
							<ul class="dropdown-menu">
								<li><a href="@{Languages.set('english', request.url)}"><img style="margin-bottom: -3px;" src="/public/images/flags/gb.png" /> English</a></li>
								<li><a href="@{Languages.set('swedish', request.url)}"><img style="margin-bottom: -3px;" src="/public/images/flags/se.png" /> Svenska</a></li>
							</ul>
						<li><a href="@{Secure.logout()}">&{'logout'}</a></li>
					</ul>
				</div>
			</div>
			<!-- /topbar-inner -->
		</div>
		<!-- /topbar -->
	</div>
	<!-- /topbar-wrapper -->
	

	<div class="container" style="height: 100%">
		#{doLayout /}
	</div>
			
	<footer class="footer" style="margin-top: 140px"> 
      <div class="container"> 
        <div style="margin-top: 50px; font-size:8pt;" class="footer">Madoff powered by: 
        <p> 
			<a href="#">Play framework</a>,
			<a href="#">Bootstrap</a>,
			<a href="#">jQuery</a>,
			<a href="#">jQuery UI</a>,
			<a href="#">chosen</a>,
			<a href="#">live.js</a>,
			<a href="#">tipsy</a> and
			<a href="#">Amazon EC2</a>.
		</p> 
		</div>
      </div> 
    </footer> 
</body>
</html>
