#{extends 'main.html' /}
#{set 'title'}
	&{'views.Receipts.details.Title', receipt.title}
#{/set}

<h2>&{'views.Receipts.details.title'}</h2>
<div class="row">
	<div class="span8 columns">
		<h3>${receipt.title}</h3>
		<div id="description">
			${receipt.description.nl2br()}
		</div>
		<div id="date">
			${receipt.created.format('yyyy-MM-dd')}
		</div>
		<div id="tip">
			Tip: ${receipt.tip}
		</div>
		<div id="members" class="well"> 
		#{list items:receipt.members, as:'member'}
			<img rel="tipsy" title="${member.fullname}" class="draggable" src="@{Pictures.get(member.id)}" style="width: 60px" />
		#{/list}
		</div>
		<div class="alert-message block-message">
			#{list items:receipt.comments, as:'comment'}
				<div class="comment">
					${comment.poster.fullname}: ${comment.content.nl2br()}
				</div>
			#{/list}
		</div>
	</div>
	<div class="span8 columns">
		<div class="well">
			<h3>&{'views.Receipts.details.newItem'}</h3>
			#{form @add()}
			<fieldset>
				<div class="clearfix">
					<label for="name">&{'Name'}:</label>
					<div class="input">
						<input type="text" name="name" />
					</div>
				</div>
				<div class="clearfix">
					<label for="cost">&{'Cost'}:</label>
					<div class="input">
						<input type="text" name="cost" />
					</div>
				</div>
			</fieldset>
			#{/form}
			<div id="droppable" class="well" style="height: 60px;">
				<img id="helper" src="/public/images/default.png" style="width: 60px; opacity: 0.3; display:none;" />
			</div>
			<div class="actions">
				<input class="btn primary" type="submit" id="register" value="&{'Continue'}" />
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function () {
    $(".draggable").draggable({
        revert: function (event, ui) {
            //overwrite original position
            $(this).data("draggable").originalPosition = {
                top: 0,
                left: 0
            };
            $('#helper').fadeOut();
            return !event;
        },
        start: function(event, ui) {
        	$('#helper').fadeIn();
        },
    });
    
    $("#droppable").droppable();
    
    $('img[rel=tipsy]').tipsy({fade: true, gravity: 's'});
   
});
</script>
