#{extends 'main.html' /}
#{set title:'Add new receipt' /}
#{set 'moreScripts'}
	#{script 'chosen.jquery.min.js' /}
#{/set}
#{set 'moreStyles'}
	#{stylesheet 'chosen.css' /}
#{/set}

<div id="register">
	
	<h1>Add new receipt</h1>
		
	#{form @add()}
		
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		<p id="title-field">
			<label for="title">Title:</label><br/>
			<input type="text" name="title" id="title" value="${flash.title}" />
		</p>
		<p id="description-field">
			<label for="description">Description:</label><br/>
			<textarea name="description" id="description">${flash.description}</textarea>
		</p>
		<p id="tip-field">
			<label for="username">Tip:</label><br/>
			<input type="text" name="tip" id="tip" value="${flash.tip}" />
		</p>
		<p id="members-field">
			<label for="members">Members:</label><br/>
			<select data-placeholder="Choose members..." class="chzn-select" style="width:350px;" id="members" name="members" multiple="yes"> 
				<option value=""></option>
				#{list items:members, as:'user'}
          		<option value="${user.id}">${user.fullname} (${user.username})</option>
          		#{/list}
			</select>
		</p>
		<p id="register-field">
			<input type="submit" id="register" value="Register" />
		</p>
	#{/form}
	
	
	<script type="text/javascript">$(".chzn-select").chosen(); </script> 
</div>