#{extends 'main.html' /}
#{set 'title'}
	&{'views.Receipts.register.Title'}
#{/set}
#{set 'moreScripts'} #{script 'chosen.jquery.min.js' /} #{/set}
#{set 'moreStyles'} #{stylesheet 'chosen.css' /} #{/set}

<div id="register">
	#{if flash.error}
	<div class="alert-message error">
		<a class="close" href="#">&times;</a> 
		<p>
			<strong>&{'error'}</strong> &{flash.error}
		</p>
	</div>
	#{/if}
	
	#{form @add()}
	<fieldset>
		<legend>&{'views.Receipts.register.addNew'}</legend>
		<div class="page-header">
    		<h1><small>&{'Required'}</small></h1>
  		</div>
		<div class="clearfix">
			<label for="members">&{'Members'}:</label>
			<div class="input">
				<select data-placeholder="&{'views.Receipts.register.membersPlaceholder'}" class="chzn-select"
					style="width: 350px;" id="members" name="members" multiple="yes">
					<option value=""></option> 
					#{list items:members, as:'u'}
						<!-- Dividing line below into multiple lines breaks chosen autocomplete -->
						<option value="${u.id}" #{if user.username == u.username}  selected="selected" #{/if}> ${u.fullname} (${u.username})</option> 
					#{/list}
				</select>
			</div>
		</div>	
		<div class="clearfix">
			<label for="title">&{'Title'}:</label>
			<div class="input">
				<input type="text" name="title" id="title" value="${flash.title}" />
			</div>
		</div>
		<div class="clearfix">
			<label for="description">&{'Description'}:</label>
			<div class="input">
				<textarea name="description" id="description" rows="4">${flash.description}</textarea>
			</div>
		</div>
		<!--  No support for date backendside - fix later
		<div class="clearfix">
			<label for="date">&{'Date'}:</label>
			<div class="input">
				<input type="text" id="datepicker" />
			</div>
		</div>
		-->
		<div class="clearfix">
			<label for="total">&{'Total'}:</label>
			<div class="input">
				<input type="text" name="total" id="total" value="${flash.total}" />
			</div>
		</div>
		
		<div class="page-header">
    		<h1><small>&{'Optional / Advanced'}</small></h1>
  		</div>
		<div class="clearfix">
			<label for="tip">&{'Tip'}:</label>
			<div class="input">
				<input type="text" name="tip" id="tip" value="${flash.tip}" />
			</div>
		</div>
		
		<div class="clearfix">
			<label for="payer">&{'Who paid'}:</label>
			<div class="input">
				<input type="radio" name="paid" value="creator" checked> I paid for everything </input> <br>
				<input type="radio" name="paid" value="split"> Payment split evenly between all members </input>
			</div>
		</div>
		
		<div id="subrounds">
		</div>
		
		<div class="alert-message warning">
			<a class="close" href="#">&times;</a>
			<p><strong>Beta warning!</strong> No validation before you submit, on failure you have to redo everything! Make sure title and total are there and that everything adds up! </p>
	    </div>
		<div class="actions">
			<input class="btn primary" type="submit" id="register" value="&{'Add'}" />
			<a href="@{Application.index()}" class="btn">&{'Cancel'}</a>
		</div>
	</fieldset>
	
	#{/form}

	<script type="text/javascript">
		$(function() {
			$("#datepicker").datepicker({dateFormat: 'yy-mm-dd'});
		});
	</script>
	<script type="text/javascript">$(".chzn-select").chosen(); </script>
</div>

<script id="subround" type="text/html">
		<div class="clearfix">
			<label for="username">&{'Subround'}:</label>
			<div class="input">
				<select data-placeholder="&{'views.Receipts.register.membersPlaceholder'}" class="chzn-select subroundMembers"
					style="width: 350px;" name="subrounds[{{ subRoundNr }}].members" multiple="yes">
					<option value=""></option>
				</select>
			</div>
		</div>
		<div class="clearfix">
			<div class="input">
				&{'bought'}
				<input placeholder="item" class="span4" type="text" name="subrounds[{{ subRoundNr }}].description" value="" />
				&{'for'}
				<input placeholder="money amount" class="span2" type="text" name="subrounds[{{ subRoundNr }}].amount" id="subroundMoney{{ subRoundNr }}" value="" />
			</div>
		</div>
</script>

<script type="text/javascript" charset="utf-8">
var subroundCount = 0

$(document).ready(function() {
	addSubround(true);
	updateMemberSelection();
});

$("#members").chosen().change(function() {
	updateMemberSelection();
});

function updateMemberSelection()
{
	/// Get selected members, values and text
	members = $('#members');
	memberValues = members.val();
	memberText = new Array();
	for(i in memberValues) {
		memberText[i] = $("#members option[value='"+ memberValues[i] + "']").text();
	}
	
	/// Set subround members to the same, while keeping selected subround members
	$('.subroundMembers').each(function(index) {
		roundValues = $(this).val();
		$(this).empty();
		for(i in memberValues) {
			selected = false;
			value = memberValues[i];
			if(roundValues != null && $.inArray(value, roundValues) != -1) {
				selected = true;
			}
			$('.subroundMembers').append(new Option(memberText[i], value, false, selected));
		}
	});
	
	/// Update chosen fields
	$(".subroundMembers").trigger("liszt:updated");
}


function addSubround(initial)
{
	$("#subroundMoney" + (subroundCount-1)).unbind('keypress');
	
	var subRoundData = { subRoundNr: subroundCount };
	var subround = ich.subround(subRoundData);
	
	if(initial) {
		$(subround)
		.hide()
		.appendTo('#subrounds')
		.fadeIn();
	} else {
		$(subround).appendTo('#subrounds');
	}
	
	$(".chzn-select").chosen();
	
	$('#subroundMoney' + subroundCount).keypress(function() {
		addSubround(true);
	});
	
	subroundCount++;
}

</script>