#{extends 'main.html' /}
#{set title:'Add new receipt' /}
#{set 'moreScripts'} #{script 'chosen.jquery.min.js' /} #{/set}
#{set 'moreStyles'} #{stylesheet 'chosen.css' /} #{/set}

<div id="register">


	#{if flash.error}
	<div class="alert-message error">
		<p>
			<strong>Aaahh shieeet!</strong> &{flash.error}
		</p>
	</div>
	#{/if} #{form @add()}
	<fieldset>
		<legend>Add new receipt</legend>
		<div class="clearfix">
			<label for="title">Title:</label>
			<div class="input">
				<input type="text" name="title" id="title" value="${flash.title}" />
			</div>
		</div>
		<div class="clearfix">
			<label for="description">Description:</label>
			<div class="input">
				<textarea name="description" id="description">${flash.description}</textarea>
			</div>
		</div>
		<div class="clearfix">
			<label for="username">Tip:</label>
			<div class="input">
				<input type="text" name="tip" id="tip" value="${flash.tip}" />
			</div>
		</div>
		<div class="clearfix">
			<label for="members">Members:</label>
			<div class="input">
				<select data-placeholder="Choose members..." class="chzn-select"
					style="width: 350px;" id="members" name="members" multiple="yes">
					<option value=""></option> #{list items:members, as:'user'}
					<option value="${user.id}">${user.fullname}
						(${user.username})</option> #{/list}
				</select>
			</div>
		</div>
		<div class="clearfix">
			<label for="rounds">Rounds:</label>
			<div class="input">
				<div id="round_list"></div>
				<input type="text" placeholder="New round title" id="round_title" />
				<br /><br/> <input class="btn info" type="submit" id="round_add" value="Add" />
			</div>
		</div>
		<div class="actions">
			<input class="btn primary" type="submit" id="register"
				value="Save receipt" />
		</div>
		</p>
	</fieldset>

	#{/form}

	<script type="text/javascript">
		var rounds = 0;
		
		$('#round_add').click(function(event) {
			event.preventDefault();
			
			$('<div id="div_round_' + rounds + '"><h4>' + $('#round_title').val() + '</h4></div><input type="text" placeholder="Member" id="member_' + rounds + '" /><input type="text" placeholder="Amount" id="amount_' + rounds + '" /><br/><br/><input class="btn" type="submit" id="add_button_' + rounds + '" value="Add" /><br/><br/>')
			.appendTo($('#round_list'));
			
			
			$('#round_title').val('');
			
			$('#add_button_' + rounds).click({round: rounds}, function(event) {
				event.preventDefault();
				$('<span class="member">' + $('#member_' + event.data.round).val() + '</span><span class="amount">' + $('#amount_' + event.data.round).val() + '</span><br/>')
				.appendTo($('#div_round_' + event.data.round));
				
			});
			
			rounds = rounds + 1;
		});
		

	</script>
	<script type="text/javascript">$(".chzn-select").chosen(); </script>
</div>